@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth box-border outline-none list-none overflow-x-hidden;
  }

  ::-webkit-scrollbar {
    @apply w-[8px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent border-[1px] border-[#7e7e7e] rounded-[8px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#e8677b] border-[2px] border-[#616161] rounded-[8px];
  }
}

@layer components {
  #hamberger {
    zoom: 0.8;
  }

  #hamberger span {
    @apply block bg-subTitle absolute cursor-pointer h-[4px] w-full opacity-100 rotate-0 transition-all duration-300 ease-in-out rounded-[9px] left-0;

  }

  #hamberger span:nth-child(1) {
    @apply top-0;
  }

  #hamberger span:nth-child(2),
  #hamberger span:nth-child(3) {
    @apply top-[9px]
  }


  #hamberger span:nth-child(4) {
    @apply top-[18px];
  }

  #hamberger.open span:nth-child(2) {
    @apply rotate-45;

  }

  #hamberger.open span:nth-child(1) {
    @apply opacity-0
  }

  #hamberger.open span:nth-child(4) {
    @apply opacity-0
  }

  #hamberger.open span:nth-child(3) {
    @apply -rotate-45;

  }

  .product_Name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}

body {}